<div class="row" ng-include src="'app/views/parts/navigation.html'">

</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				View All Quotes<div class="pull-right search-field"><input placeholder="Search" class="form-control" type="text" data-ng-model="searchKey"></div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover">
					<tr>
						<th>ID</th>
						<th>Printed Quote ID</th>
						<th>Date</th>
						<th>Customer Name</th>
						<th>Customer Telephone</th>
						<th>Customer Address</th>
						<th></th>
					</tr>
					<tr data-ng-repeat="quote in quotes|filter:searchKey">
						<td>{{quote.id}}</td>
						<td>{{quote.printed_quote_id}}</td>
						<td>{{quote.date}}</td>
						<td>{{quote.customer_name}}</td>
						<td>{{quote.customer_telephone}}</td>
						<td>{{quote.customer_address}}</td>
						<td style="text-align: center;">
							<button data-ui-sref="quoteEdit({id:quote.id})" class="btn btn-warning">Edit</button>
							<button data-toggle="modal" data-target="#prompt_{{quote.id}}" class="btn btn-danger">Delete</button>

					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-include src="'app/views/parts/footer.html'"></div>

<div data-ng-repeat="quotePrompt in quotes" class="modal fade" id="prompt_{{quotePrompt.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Are you sure to delete this quote?</h4>
			</div>
			<form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" data-ng-click="deleteQuote(quotePrompt.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>