<div class="row" ng-include src="'app/views/parts/navigation.html'">
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Categories
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<form>
							<div class="panel panel-default">
								<div class="panel-heading">
									Add new Category
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label for="categoryName">Category Name</label>
										<input id="categoryName" type="text" class="form-control"  data-ng-model="newCategoryName" required/>
									</div>
									<div class="form-group">
										<label for="parentCategory">Child Category of</label>
										<select id="parentCategory" class="form-control" required data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="parentCategory">	
											<option value="" selected="selected">-Select Category-</option>
										</select>
									</div>
									<div class="form-group">
										<label for="categoryDetails">Details</label>
										<textarea id="categoryDetails" class="form-control" data-ng-model="newCategoryDetails">Enter here</textarea>
									</div>
									<button type="submit" class="btn btn-default" data-ng-click="saveNewCategory(newCategoryName, newCategoryDetails, parentCategory)">Add New</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12"  id="quote-category-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-include src="'app/views/parts/footer.html'"></div>

<div data-ng-repeat="category in categories" class="modal fade" id="myModal_{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Category</h4>
			</div>
			<form>
				<div class="modal-body">
					<div class="form-group">
						<label for="categoryName">Category Name</label>
						<input type="text" class="form-control" data-ng-model="category.name" required/>
					</div>
					<div class="form-group">
						<label for="parentCategory">Child Category of</label>
						<select id="parentCategory" class="form-control" required data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="category.parent_id">	
							<option value="" selected="selected">-Select Category-</option>
						</select>
					</div>
					<div class="form-group">
						<label for="categoryDetails">Details</label>
						<textarea id="categoryDetails" class="form-control" data-ng-model="category.details">Enter here</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" data-ng-click="deleteCategory(category.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
					<button type="submit" data-ng-click="updateCategory(category)" class="btn btn-primary" data-dismiss="modal">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>