<div class="row" class="logo_row" style="margin-top: 80px;padding-bottom: 30px;">
	<div class="col-sm-4 col-sm-offset-4">
		<img src="../ass/img/QuLoginLogo.png" alt="Quotesharp_logo">
	</div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-5">
		<div class="panel panel-default login-input">
			<div class="panel-body">
				<div class="alert-warning" data-ng-show="flash" data-ng-bind="flash"></div>
				<form data-ng-submit="login()">
					<input class="form-control" placeholder="Organization" type="text" id="organization" data-ng-model="organization" required/><br>
					<input class="form-control" type="text" id="username" placeholder="Username" data-ng-model="username" required/><br>
					<input class="form-control" type="password" id="password" placeholder="Password" data-ng-model="password" required/><br>
					<button class="btn btn-default" type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>