<div class="row" ng-include src="'app/views/parts/navigation.html'">	
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Products and Services<div class="pull-right search-field"><input placeholder="Search" class="form-control" type="text" data-ng-model="searchKey"></div>
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								Add new Product or Service
							</div>
							<div class="panel-body">
								<form>
									<div class="form-group">
										<label for="code">Code</label>
										<input class="form-control" type="text" id="code" required data-ng-model="newProductCode"/>
									</div>
									<div class="form-group">
										<label for="name">Name</label>
										<input class="form-control" type="text" id="name" required data-ng-model="newProductName"/>
									</div>
									<div class="form-group">
										<label for="price">Price</label>
										<input class="form-control" type="number" step="any" id="price" required data-ng-model="newProductPrice"/>
									</div>
									<div class="form-group">
										<label for="details">Details</label>
										<textarea class="form-control" id="details" data-ng-model="newProductDetails">Enter here</textarea>
									</div>
									<div class="form-group">
										<label for="category">Category</label>
										<select class="form-control" required id="category" data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="newProductParent">
											<option value="" selected="selected"> Select category </option>
										</select>
									</div>
									<button class="btn btn-default" type="submit" data-ng-click="saveNewProduct(newProductCode, newProductName, newProductPrice, newProductDetails, newProductParent)">Add New</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover">
									<tr>
										<th>Code</th>
										<th>Name</th>
										<th>Price</th>
										<th>Details</th>
										<th>Parent</th>
										<th></th>
									</tr>
									<tr data-ng-repeat="productAndService in productsAndServices|filter:searchKey">
										<td><input type="text" class="form-control"  data-ng-model="productAndService.code" data-ng-disabled="!editEnable"/></td>
										<td><input type="text" class="form-control"  data-ng-model="productAndService.name" data-ng-disabled="!editEnable"/></td>
										<td><input type="text" class="form-control"  data-ng-model="productAndService.price" data-ng-disabled="!editEnable"/></td>
										<td><textarea class="form-control" data-ng-model="productAndService.details" data-ng-disabled="!editEnable"></textarea></td>
										<td>
											<select class="form-control" data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="productAndService.parent_id" data-ng-disabled="!editEnable">
											</select>
										</td>
										<td style="width: 105px;">
											<button class="btn btn-default" data-ng-click="editEnable = !editEnable"><span class="glyphicon glyphicon-pencil"></span></button>
											<button class="btn btn-default" data-ng-click="deleteProduct(productAndService.id,productAndService.name)"><span class="glyphicon glyphicon-trash"></span></button>
										</td>
									</tr>
								</table>
								<button class="btn btn-default" data-ng-click="update()">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>