<div class="row" ng-include src="'app/views/parts/navigation.html'">	
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Products and Services<div class="pull-right search-field"><input placeholder="Search" class="form-control" type="text" data-ng-model="searchKey"></div>
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								Add new Product or Service
							</div>
							<div class="panel-body">
								<form>
									<div class="form-group">
										<label for="code">Code</label>
										<input class="form-control" type="text" id="code" required data-ng-model="newProductCode"/>
									</div>
									<div class="form-group">
										<label for="name">Name</label>
										<input class="form-control" type="text" id="name" required data-ng-model="newProductName"/>
									</div>
									<div class="form-group">
										<label for="price">Price</label>
										<input class="form-control" type="number" step="any" id="price" required data-ng-model="newProductPrice"/>
									</div>
									<div class="form-group">
										<label for="details">Details</label>
										<textarea class="form-control" id="details" data-ng-model="newProductDetails">Enter here</textarea>
									</div>
									<div class="form-group">
										<label for="category">Category</label>
										<select class="form-control" required id="category" data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="newProductParent">
											<option value="" selected="selected"> Select category </option>
										</select>
									</div>
									<div class="form-group">
										<label for="is_active">Is Active</label>
										<input type="checkbox" id="is_active" data-ng-model="newProductStatus" data-ng-value="true"/>
									</div>
									<button class="btn btn-primary" type="submit" data-ng-click="saveNewProduct(newProductCode, newProductName, newProductPrice, newProductDetails, newProductParent, newProductStatus)">Add New</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover">
									<tr>
										<th>Code</th>
										<th>Name</th>
										<th>Price</th>
										<th>Status</th>
										<th></th>
									</tr>
									<tr data-ng-repeat="productAndService in productsAndServices|filter:searchKey">
										<td>{{productAndService.code}}</td>
										<td>{{productAndService.name}}</td>
										<td>{{productAndService.price|currency:currencyFormat}}</td>
										<td>{{productAndService.is_active==='1'?'Active':'Not Active'}}</td>
										<td style="width: 105px;">
											<button class="btn btn-warning"  data-toggle="modal" data-target="#productEditModal_{{productAndService.id}}">Edit</button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-include src="'app/views/parts/footer.html'"></div>


<div data-ng-repeat="productAndService in productsAndServices" class="modal fade" id="productEditModal_{{productAndService.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Product or Service</h4>
			</div>
			<form>
				<div class="modal-body">
					<div class="form-group">
						<label for="categoryCode">Code</label>
						<input id="categoryCode" type="text" class="form-control" data-ng-model="productAndService.code" required/>
					</div>
					<div class="form-group">
						<label for="categoryName">Name</label>
						<input id="categoryName" type="text" class="form-control" data-ng-model="productAndService.name" required/>
					</div>
					<div class="form-group">
						<label for="categoryPrice">Price</label>
						<input id="categoryPrice" type="text" class="form-control" data-ng-model="productAndService.price" required/>
					</div>
					<div class="form-group">
						<label for="parentCategory">Category</label>
						<select id="parentCategory" class="form-control" data-ng-options="category.id as category.name for category in htmlCategories" data-ng-model="productAndService.parent_id">	
						</select>
					</div>
					<div class="form-group">
						<label for="categoryDetails">Details</label>
						<textarea id="categoryDetails" class="form-control" data-ng-model="productAndService.details">Enter here</textarea>
					</div>
					<div class="form-group">
						<label for="categoryStatus">Is Active</label>
						<input type="checkbox" id="categoryStatus" required data-ng-checked="productAndService.is_active === '1'" data-ng-model="productAndService.is_active"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" data-ng-click="updateProduct(productAndService)" class="btn btn-primary" data-dismiss="modal">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>